.companyLogo {
	width: 60px;
	height: 40px;
	padding-top: 3px;
}
#O365_MainLink_Logo, .o365cs-nav-appTitleLine.o365cs-nav-brandingText.o365cs-topnavText.o365cs-rsp-tw-hide.o365cs-rsp-tn-hide, span.o365cs-nav-brandingText  {
	visibility: hidden;
}

h2 {
	color: green !important;
	font-weight: 800;
}
