
@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";
@import "partials/icons"; // marked areas as global
@import "partials/fonts";

:global {
    @import "partials/suiteBarTop";
    @import "partials/base";
    @import "partials/grid";
    @import "partials/utilities";
    @import "partials/header";
    @import "partials/footer";
    @import "partials/home-banner";
    @import "partials/homepage-news-rotator";
    @import "partials/homepage-resources";
    @import "partials/upcoming-events";
    @import "partials/faq";
    @import "partials/hr-banner";
    @import "partials/mega-menu";
    @import "partials/alpha-filter";
    @import "partials/profile-details-info-panel";
    @import "partials/organizational-chart";
    @import "partials/profile-detail-header";

    @import "partials/alerts";
    @import "partials/events-overview-header";
    @import "partials/events-tabs";
    @import "partials/popover";
    @import "partials/location-departments";
    @import "partials/location-logos";
    @import "partials/location-details-info-panel";

    @import "partials/overrides";

}


:global .doc-preview-icon {
    position: absolute;
    left: 56px;
    cursor: pointer;
    background-color: #fff;
}


// @import "partials/topBarContainer";
// @import "partials/homePageLayout";







