html, body { min-width: 768px; }
body { font: 15px/21px $sans-serif; color: $black1;
	background: url($baseUrl	+ "/img/bg.png");
	// RCN
  background-image: url($baseUrl	+ "/img/bg.png") !important;
}
a {
	font-weight: bold; font-style: italic; color: $light-stone-blue; border-bottom: dashed 1px; text-decoration: none;

	&:visited { color: $light-stone-blue;} // RCN
	&:hover { text-decoration: none; } // RCN


	&:hover { color: $pale-stone-blue; }
	&[disabled], &.disabled { color: #adafba; color: $pale-stone-blue; opacity: 0.5; pointer-events: none; }
	&.row-link:visited { color:$black1; }
}
strong, b { font-weight: bold; }
em, i { font-style: italic; }
p { margin-bottom: 20px; }
img { max-width: 100%; height: auto }
h1 {
	font: bold 23px/29px $serif; color: $dark-stone-blue; margin-bottom: 22px;

	&.yellow { color: $dark-yellow; }
	&.white { color: $white; }
	&.black { color: $black1; }

	.sub-text { font-family: $sans-serif; font-weight: normal; }
	.status-icon { border: solid 3px rgba($red, 0.2); @include border-radius(50%); }
}
h2 { font: bold 18px/26px $serif; color: $black2; }
h3 { font-weight: bold; line-height: 30px; font-size: 16px; }
h4 { font: bold 14px/30px $sans-serif2; text-transform: uppercase; color: $black1; }
h5 {
	font: 18px/24px $serif; color: $dark-stone-blue;

	&.executive-subtitle { margin-top: -22px; margin-bottom: 22px; }
}
h6 { font-weight: bold; }

/* Global re-useable styles */
.search-box-wrap {
	position: relative;

	.search-box {
		height: 36px; background: $white; border: solid 1px $stone; font-size: 15px; color: $black1; padding: 0 16px; width: 100%; font-family: sans-serif;

		& + .icon-search { color: $stone; font-size: 24px; line-height: 1; width: 24px; position: absolute; top: 50%; right: 10px; @include translateY(-50%); }
	}
}
.counter {
	display: inline-block; width: 24px; height: 24px; border-radius: 50%; color: $light-stone; line-height: 24px; text-align: center; font-size: 12px; background: $dark-stone-blue; font-weight: bold;

	&.red { background: $red; }
}
.notification {
	font-style: normal; text-transform: uppercase; border: 0;

	.counter { position: relative; top: -2px; }
}
.panel {
	background: $light-stone; margin-bottom: 30px; padding: 15px 26px; color: $grey; position: relative;

	&.accordion { overflow: hidden; }
	&.dark { background: $dark-stone-blue; color: $white; }
	&.no-bg { background: none; }
	&.white-bg { background: $white; }
	&.no-bottom-margin { margin-bottom: 0; }
	&.top-border { border-top: solid 5px $dark-yellow; }
	&.more-top-spacing { padding-top: 25px; }
	&.more-bottom-spacing { padding-bottom: 25px; }
	&.wide-gutters { padding: 30px; }
	&.blog-link-list {
		padding-left: 38px; line-height: 20px;

		p { margin-bottom: 10px; }
	}

	ul {
		li { margin-bottom: 10px; }
	}
	p { margin-bottom: 27px; }
	.accordion-header {
		overflow: hidden;

		> * { float: left; }
		a { float: right; border: 0; line-height: 30px; }
	}
	.panel-paging {
		float: right; overflow: hidden;

		a {
			font-size: 12px; line-height: 14px; border: 0; font-style: normal; color: $pale-stone-blue; float: left; padding: 0 3px;

			.icon { font-size: 10px; line-height: 14px; }

			&:hover, &.active { color: $light-stone-blue; }
		}
	}

	> *:last-child { margin-bottom: 0; }
}
.content-rotator, .team-content-rotator {
	position: relative;

	.nav-link {
		position: absolute; top: 50%; font-size: 30px; border: 0; @include translateY(-50%);

		&.left { left: 0; }
		&.right { right: 0; }
	}
	.content {
		width: calc(100% - 140px); display: block; margin: 0 70px 20px;

		> * {
			display: block; border: 0;

			&.hide { display: none; }
		}
	}
}
.team-member {
	background: $black2; border: solid 1px $black2;

	img { display: block; width: 100%; height: auto; }
	.team-member-info {
		padding: 0 12px; height: 68px; overflow: hidden;

		.name { color: $dark-yellow; display: block; font: bold 13px/19px $sans-serif; margin: 6px 0 3px; }
		.position { display: block; font: 13px/15px $sans-serif; color: $white; }
	}
}
.breadcrumbs {
	overflow: hidden; margin-bottom: 22px;

	li {
		float: left; font-weight: bold; color: $dark-stone-blue;

		&:after { font-family: 'rushnet'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: "\e609"; color: $light-stone-blue; font-size: 12px; padding: 0 5px; }
		&:last-child {
			&:after { content: "" }
		}
		a { border: 0; }
	}
}
.intro-text { font: 18px/26px $sans-serif; color: $black1; margin-bottom: 64px; }
.row-link {
	display: block; font: bold 18px/50px $sans-serif; background: $light-stone; margin-bottom: 10px; padding: 0 16px; border: 0; color: $black1;

	.icon { color: $light-stone-blue; float: right; font-size: 14px; line-height: 50px; }

	&:hover { color: $black1; background: $stone; }
}
.btn {
	padding: 0 20px; border: solid 1px $dark-brown; background: $brown; font: bold 16px/42px $sans-serif; color: $yellow !important; @include text-shadow(0 1px 0 0 rgb(52, 50, 40)); display: inline-block; text-align: center; white-space: nowrap;

	&.btn-block { width: 100%; }
	&:hover { color: $dark-yellow; }
}
.benefits-contact {
	padding-top: 10px; overflow: hidden; margin-bottom: 20px;

	.name-number {
		display: block; height: 1px; border-top: solid 1px $light-stone; font: 15px/20px $sans-serif;

		> * { margin-top: -10px; background: $white; }
		.name { float: left; padding-right: 12px; font-weight: bold; }
		.number { float: right; padding-left: 12px; }
	}
	.location { float: left; clear: both; }
}
.card {
	background: $white; border: solid 1px $stone; color: $black1; font-size: 15px; line-height: 24px; padding: 15px 20px; margin-bottom: 20px;

	> *:last-child { margin-bottom: 0; }

	&.profile {
		height: 278px;

		.profile-info {
			display: table; border-bottom: solid 1px $light-stone; padding-bottom: 22px; margin-bottom: 17px; width: 100%;

			> * { display: table-cell; vertical-align: middle; }
			.profile-img {
				padding-right: 10px; width: 1%;

				img { width: 115px; display: block; max-width: none; }
			}
			.profile-title { padding-left: 10px; width: 99%; }
		}
		.profile-extra {
			a { border: 0; }
		}
	}
}
.filter-option {
	margin-top: 10px; padding-left: 12px;

	a {
		& { border: 0; font-weight: normal; font-style: normal; color: $black1; }
		&:before { font-family: RushNet; display: inline-block; content: "\e601"; color: $stone2; background: $white; line-height: 1em; margin-right: 5px; }
		&:hover:before { content: "\e602"; color: $light-stone2; }
		&.active:before { content: "\e804"; }
		&.active:hover:before { color: $stone2; }
	}
}
.document-link {
	display: table; border: 0; font-style: normal; color: $black1; font-weight: normal;

	> * { display: table-cell; vertical-align: middle; }
	.icon, .flaticon { padding-right: 10px; font-size: 30px; }
}
.horiz-divider { border: 0; height: 1px; width: 100%; float: none; padding: 0; margin: 0 0 30px; background: $stone; @include box-shadow(0 2px 1px 0 $white); }
.dropdown {
	margin-bottom: 20px; position: relative;

	.selected-item {
		color: $dark-yellow; @include text-shadow(0 1px 0 0 rgb(52, 50, 40)); font-weight: bold; overflow: hidden; white-space: nowrap; cursor: pointer;

		.selected-value { padding: 0 20px; background: $brown; float: left; border: solid 1px $dark-brown; line-height: 40px; width: calc(100% - 55px); @include ellipsis(); font-size: 16px; }
		.dropdown-arrow { padding: 0 20px; background: $dark-brown; width: 55px; float: left; line-height: 42px; }
	}
	.dropdown-values {
		background: $white; border: solid 1px $stone; position: absolute; top: 100%; width: 100%; z-index: 1; display: none;

		li { padding: 0 20px; line-height: 34px; @include ellipsis(); color: $black1; cursor: pointer; }
		li:hover { background: $stone; }

		&.show { display: block; }
	}
}
.news-article {
	font: 18px/28px $sans-serif;

	q, blockquote { border-left: solid 6px $dark-yellow; display: block; margin-bottom: 20px; padding-left: 20px; font: bold 23px/32px $serif; }
	ul, ol {
		margin-bottom: 20px; padding-left: 26px; list-style: outside none;

		ul, ol { margin-bottom: 0; }
	}
	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }
	img { margin-bottom: 20px; border: solid 1px $black1; }
	figure {
		margin-bottom: 20px;

		img { margin-bottom: 0; width: 100%; }
		figcaption { font-style: italic; font-size: 16px; line-height: 18px; display: block; }
	}

	&.large-first-character {
		p:first-child::first-letter { font: bold 56px/1 $serif; color: $dark-yellow; float: left; margin: 0 5px 0 0; }
	}
}
.map-container { height: 220px; border: solid 1px $light-stone2; margin-bottom: 20px; }
.article-date-wrap {
	margin: -12px 0 10px;

	.article-date { background: $dark-yellow; color: $black1; font: bold 12px/24px $sans-serif; padding: 0 7px; display: inline-block; }
}
.document-accordion {
	margin-bottom: 10px;

	.document-accordion-link {
		display: block; font: bold 18px/50px $sans-serif; background: $light-stone; padding: 0 12px 0 26px; border: 0; color: $black1; cursor: pointer;

		.icon { color: $light-stone-blue; float: right; font-size: 14px; line-height: 50px; }

		&:hover { color: $black1; background: $stone; }
	}
	.document-accordion-group {
		background: $white; padding: 8px 12px 8px 26px; display: none;

		&.first { padding-top: 16px; }
		&.last { padding-bottom: 16px; }

		.document-accordion-group-link {
			line-height: 20px; font-size: 14px; font-weight: bold; cursor: pointer;

			.icon { font-size: 12px; float: right; line-height: 20px; }

			&:hover { color: $light-stone-blue; }
		}
		.document-rows {
			margin: 10px -12px 0 -26px; font-size: 14px; line-height: 20px; overflow: hidden; display: none;

			.document-row {
				overflow: hidden; cursor: pointer; @include flexing-equal-height(); @include user-select(none);

				> * { float: left; padding: 4px 5px; font-size: 12px; line-height: 16px; }
				img { display: block; }
				.doc-check {
					width: 26px; position: relative; padding: 0;

					* { display: none; position: absolute; top: 50%; width: 100%; transform: translateY(-50%); text-align: center; color: $white; text-align: center; }
				}
				.doc-type-icon {width: 26px; }
				.doc-name { width: calc(100% - 194px); }
				.doc-ellipsi {
					width: 22px; text-align: center; padding: 0;

					span {
						border: 0; display: block; font-style: italic; position: relative; color: $black1;

						&.active { background: $dark-yellow; color: $white; font-weight: bold; padding-bottom: 6px; line-height: 12px; font-size: 15px; }
						&.active:after { content: ""; width: 0; height: 0; border-style: solid; border-color: $dark-yellow transparent transparent; border-width: 5px 6px 0; position: absolute; top: 100%; left: 50%; margin: 0 0 0 -6px; z-index: 2; }
					}
				}
				.doc-date { padding-right: 10px; width: 120px; }

				&:hover, &.active { background: $yellow; }
				&.active {
					.doc-check {
						background: $dark-yellow;

						* { display: block; }
					}
				}
			}
		}
	}
}
.tabs {
	.tab-list {
		overflow: hidden;

		.tab {
			float: left; background: $stone; line-height: 50px; padding: 0 20px; margin: 3px 3px 0 0; border: 0; color: $black1; font-style: normal;

			&.active { background: $light-stone; border-top: solid 3px $dark-yellow; margin-top: 0; }
		}
	}
	.tab-group { background: $light-stone; padding: 30px; }
}
.feature-story {
	position: relative; width: 100%; margin-bottom: 30px;

	.feature-story-image { display: block; width: 100%; }
	.feature-story-title {
		background: rgba($grey2, 0.9); overflow: hidden; position: absolute; bottom: 0; left: 0; width: 100%;

		.feature-story-title-label { color: $light-grey; margin: 0; float: left; font-weight: normal; max-width: calc(100% - 80px); }
		.feature-story-title-link { white-space: nowrap; position: absolute; line-height: 14px; }
	}

	&.big-feature {
		.feature-story-title {
			padding: 20px 30px;

			.feature-story-title-link { bottom: 26px; right: 30px; }
		}
	}
	&.small-feature {
		.feature-story-title {
			padding: 12px 24px;

			.feature-story-title-label { font-weight: bold; }
			.feature-story-title-link { bottom: 14px; right: 24px; }
		}
	}
}
.number-list { list-style: decimal outside none; margin-left: 20px; }
.message {
	margin-bottom: 20px;

	.message-image { display: block; width: 100%; margin-bottom: 15px; }
	.message-info {
		.message-title { font-style: normal; border: 0; color: $black1; display: block; margin-bottom: 15px; }
		.message-date { background: $dark-yellow; color: $black1; font: bold 12px/24px $sans-serif; padding: 0 7px; display: inline-block; }
	}
}
.executive-nav {
	background: $light-stone; padding: 10px 0; margin-bottom: 20px;

	a {
		display: block; border: 0; font-style: normal; padding: 10px 40px; border-right: solid 6px transparent;

		&.active, &:hover { border-right-color: $dark-yellow; color: $grey3; }
	}
}

#back-to-top { position: fixed; bottom: 40px; right: 40px; border: 0; font-style: 0; color: $black1; background: $dark-yellow; width: 40px; height: 40px; line-height: 40px; text-align: center; display: none; }

@media (max-width: 992px) {
	.filter-group {
		margin-bottom: 20px;

		.panel {
			margin-bottom: 0; padding-top: 5px; padding-bottom: 5px;

			&:nth-child(1n+2) { border: 0; }
			&:last-of-type { padding-bottom: 15px; }
		}
		.filter-tablet-group-header {
			padding-top: 15px; padding-bottom: 15px; line-height: 26px;

			a {
				display: block; border: 0; font-style: normal; color: $grey;

				.icon { float: left; margin-right: 10px; line-height: 26px; }
			}
		}
	}
}
@media (min-width: 992px) {
	.message {
		&.small {
			overflow: hidden;

			.message-image { float: left; width: 115px; margin-right: 20px; margin-bottom: 0; }
			.message-info {
				float: left; width: calc(100% - 135px);

				.message-title { margin-bottom: 10px; }
			}
		}
	}

	#back-to-top {
		&.show { @include opacity(1.0); display: block; }
	}
}
