#hr-banner {
	background: url($baseHrUrl + '/img/hr-hero.png') no-repeat center; height: 417px; margin-bottom: -120px; color: $white; margin-top: -109px;

	.container { padding-top: 90px; }
	p { font-size: 18px; line-height: 26px; }
}
