@font-face {
	font-family: 'rushnet';
	src: url($baseUrl + '/fonts/rushnet.woff?8ntyo6') format('woff');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'rushnet';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-document:before {
	content: "\e800";
}
.icon-search:before {
	content: "\e801";
}
.icon-check:before {
	content: "\e600";
}
.icon-checkbox-default:before {
	content: "\e601";
}
.icon-checkbox-hover:before {
	content: "\e602";
}
.icon-arrow-down:before {
	content: "\e603";
}
.icon-arrow-left:before {
	content: "\e604";
}
.icon-arrow-right:before {
	content: "\e605";
}
.icon-arrow-up:before {
	content: "\e606";
}
.icon-chevron-down:before {
	content: "\e607";
}
.icon-chevron-left:before {
	content: "\e608";
}
.icon-chevron-right:before {
	content: "\e609";
}
.icon-chevron-up:before {
	content: "\e60a";
}
.icon-close:before {
	content: "\e60b";
}
.icon-circle-empty:before {
	content: "\e60c";
}
.icon-circle-full:before {
	content: "\e60d";
}
.icon-facebook:before {
	content: "\e60e";
}
.icon-linkedin:before {
	content: "\e60f";
}
.icon-twitter:before {
	content: "\e610";
}
.icon-youtube:before {
	content: "\e611";
}
