/* Bootstrap Overrides*/
#suiteBarTop * {
  box-sizing: content-box;

  img {max-width: none !important;}
  a {font-weight: 500; font-style: normal; border-bottom: 0;}
}

#s4-ribbonrow {
  display:none; // TODO: turn on via SP permissions
}
  #s4-ribbonrow * {
    box-sizing: content-box;

    img {max-width: none !important;}
    a {font-weight: 500; font-style: normal; border-bottom: 0;}
  }
    li.ms-cui-menusection-items a {font-weight: 500; font-style: normal;}

.o365cs-base.o365cst.o365cs-nav-navMenu.popupShadow.removeFocusOutline.o365cs-newAL-off.o365cs-rsp-off a {
  font-weight: 500;
  font-style: normal;
}

.o365cs-nav-topItem.o365cs-rsp-tn-hideIfAffordanceOff {
  display: none !important; // TODO: turn on via SP permissions
}

a#O365_SubLink_ShellAboutMe, a#O365_SubLink_ViewAccount, a#O365_SubLink_SuiteMenu_zz4_ID_PersonalizePage  {
  display:none; // TODO: turn on via SP permissions
}

/*--Bootstrap Overrides */

// RCN

/*search*/
.ms-srch-sb > .ms-srch-sb-navLink {
  display:none;
}
.ms-srch-sb>input {
  width: 305px;
  //max-width: 350px;
  font-size: 1em;
  float: left;
}
.ms-srch-sb > .ms-srch-sb-searchLink {
  height: 34px;
  width: 36px;
}
#hdr-search-box-wrap img {
  max-width: none;
}
#SearchBox > div {
  height: 34px;
  border: 0;
}
.ms-srch-sb-searchImg {
  left: -53px;
  top: -1px;
  &:hover {
      left: -1px;
      top: -35px;
  }
}

@media (max-width: 992px) {
  #hdr .ms-srch-sb>input {
    width: 195px;
  }
}

.ms-srch-sb>input {
  height: 32px;
}
.search-box-wrap .search-box {
  padding: 0;
}



/*workspace*/
#s4-workspace {
  min-width: 768px;
}
#s4-titlerow {
  padding: 0;
  height: 0;
}
// .ms-srch-sb > .ms-srch-sb-searchLink {
// 	// height: 0;
// 	// width: 0;
// }

#s4-bodyContainer {
    padding-bottom: 0;
}

#contentBox {
  margin-right: 0 !important;
}

button {
  min-width: inherit;
}


/*Search Site Collection*/
#searchIcon {
	display:none;
}
// .ms-searchCenter-result-main, .ms-searchCenter-refinement {
//   visibility: hidden;
// }

/*Tim's Webparts*/
// title for webparts on home page, applying Warnock pro font from projekt 202
.ms-webpart-titleText span{
  font: bold 23px/29px $serif; color: $dark-stone-blue; margin-bottom: 22px;
}

/*People Search*/
#UserPersonaContainer img {
	max-width: inherit;
}


// Policy Spotlight
.ms-webpartPage-root {
  border-spacing: 0px !important;
}
.ms-webpartzone-cell {
  margin: 0px !important;
}

// First Letter of the first paragraph, use for publishing pages --Timothy Blankenship
.large-first-character p:first-child::first-letter
{
       font:bold 56px/1 "warnock-pro-display", helvetica, times new roman, serif;
       color:#eeb111;
       float:left;
       margin:0 5px 0 0;
}

// Article Quotes, block with vertial orange line
q
{
    border-left: 6px solid #EEB111;
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
    font: bold 23px/32px "warnock-pro-display",helvetica,"times new roman",serif;
}

.large-first-character  p span:first-child::first-letter {
    font: bold 56px/1 "warnock-pro-display", "times new roman", serif;
    color: #eeb111;
    float: left;
    margin: 0 5px 0 0; }

.large-first-character span:first-child::first-letter {
    font: bold 56px/1 "warnock-pro-display", "times new roman", serif;
    color: #eeb111;
    float: left;
    margin: 0 5px 0 0; }

/**
** brandingText
**/
a.o365cs-nav-appTitle.o365cs-topnavText.o365button {
  margin-top: 11px;
  vertical-align: bottom;
  margin-bottom: 4px;}


  /////////////////////////////////////News Article Preview

  #overlay{
    position: absolute;
    z-index: 999;
    top: 0;
    background-color: hsla(42, 30%, 28%, 0.45);
    height: 143px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 45px bolder;
    font-family: $sans-serif;
  }

  // targets location details page
  .mapFlex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }


// hides unwanted hyperlinks that could take users to unstyled pages
div.ms-srch-hover-actions {
	display:none !important;
}
div[id*='ChangedBy'] {
               display: none !important;
}

// Disables anchor tags for Audio and Video root categories in the newshub setSiteTitle
a[href="/sites/newshub/video-casts"], a[href="/sites/newshub/audio-casts"] {
  pointer-events: none;
  cursor: default;
}