/* Bootstrap Overrides*/
#suiteBarTop * {
  box-sizing: content-box;

  img {max-width: none !important;}
  a {font-weight: 500; font-style: normal; border-bottom: 0;}
}
#s4-ribbonrow * {
  box-sizing: content-box;

  img {max-width: none !important;}
  a {font-weight: 500; font-style: normal; border-bottom: 0;}

  display:none; // TODO: turn on via SP permissions

}

.o365cs-nav-topItem.o365cs-rsp-tn-hideIfAffordanceOff {
  display: none !important; // TODO: turn on via SP permissions
}

a#O365_SubLink_ShellAboutMe {
  display:none; // TODO: turn on via SP permissions
}

/*--Bootstrap Overrides */

// RCN
#s4-titlerow {
  padding: 0;
  height: 0;
}
.ms-srch-sb > .ms-srch-sb-searchLink {
	height: 0;
	width: 0;
}

#s4-bodyContainer {
    padding-bottom: 0;
}

#contentBox {
  margin-right: 0 !important;
}

button {
  min-width: inherit;
}
