/* Bootstrap Overrides*/
#suiteBarTop * {
  box-sizing: content-box;

  img {max-width: none !important;}
  a {font-weight: 500; font-style: normal; border-bottom: 0;}
}
#s4-ribbonrow * {
  box-sizing: content-box;

  img {max-width: none !important;}
  a {font-weight: 500; font-style: normal; border-bottom: 0;}

}

/*--Bootstrap Overrides */

// RCN
#s4-titlerow {
  padding: 0;
  height: 0;
}
.ms-srch-sb > .ms-srch-sb-searchLink {
	height: 0;
	width: 0;
}

#s4-bodyContainer {
    padding-bottom: 0;
}

button {
  min-width: inherit;
}
