div#s4-ribbonrow {
  //display: none;
}

#s4-titlerow {
  //display: block !important;
}

.o365cs-nav-topItem.o365cs-rsp-tn-hideIfAffordanceOff {
  //display: none !important;
}
.o365cs-base.o365cst.o365cs-topnavBGColor-2 {
  // setting the color of the suiteBarTop
  background-color: #000 !important;
}
.o365cs-me-tile-nophoto {
  border-left: 0 !important;
}
span#fullscreenmodebox {
  display:none;
}

a#O365_SubLink_ShellAboutMe {
  display:none;
}

/**
** topLinks.tsx
**/
.topLinks > li > a:hover {
  text-decoration: none;
}
