/* colors */
$black1: #060606;
$black2: #111;
$black3: #1e1d16;
$grey: #413f34;
$dark-stone-blue: #464645;
$stone-blue: #5a5c62;
$light-stone-blue: #8a8c95;
$pale-stone-blue: #b4b4b4;
$stone: #d8d5ca;
$stone2: #cac5b4;
$light-stone: #ece9df;
$light-stone2: #d6d0ba;
$lighter-stone: #f3f2ec;
$rust: #763200;
$pale-yellow: #eddaa7;
$yellow: #f7cf65;
$dark-yellow: #eeb111;
$red: #ed1c24;
$white: #fff;
$brown: #5e5c53;
$dark-brown: #48473e;

/* fonts */
$sans-serif: TradeGothic, helvetica, arial, sans-serif;
$sans-serif2: TradeGothicCondensed;
$serif: times new roman, serif;

// RCN
$baseUrl: "/sites/rushnet/_catalogs/masterpage/_RushNet/home-masterpage";
